body{
  /*background: url("../Images/bkgndpic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  linear-gradient( black 0%,white 100%)
  background-image: opacity(0.5),filter: ,url("../Images/bkgndpic.jpg");
    background-blend-mode:screen;*/
}
div.gift-result {
  height: 600px;
  min-width: 80em;
  overflow-y: auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px hidden;
}
body::after {
  content: "";
  background: url("../Images/bkgndpic.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}

button.stealth {
    padding: 0;
    border: none;
    background: none;
}
* {
    box-sizing: border-box;
}

h1 {
	margin: 1em 0 1em;
	padding: 0 0 10px 0;
	color: #6B5344;
	font-weight: normal;
	position: relative;

  text-shadow: -2px 0 rgb(200, 200, 200), 0 2px rgb(200, 200, 200), 2px 0 rgb(200, 200, 200), 0 -2px rgb(200, 200, 200);

	font-size: 72px;
	line-height: 80px;
	font-family: 'Carrois Gothic', sans-serif;
}

.texttype-1 h2 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 30px;
	line-height: 40px;
}

.texttype-1 h3 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 40px;
}

.texttype-1 h4 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 18px;
	line-height: 20px;
}
.filter-table {
   filter:alpha(opacity=60);
  background: rgba(255,255,255,0.5);
  margin: 1em;
  padding: 5px;
  position: fixed;
  margin: 5px;
  background-color: pink
}
th, td {
    border-bottom: 10px solid #ddd;
}

.catagory-btn{
	-moz-box-shadow: 0px 10px 14px -7px #152426;
	-webkit-box-shadow: 0px 10px 14px -7px #152426;
	box-shadow: 0px 10px 14px -7px #152426;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #acb1b3), color-stop(1, #5c5c5c));
	background:-moz-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-webkit-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-o-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-ms-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:linear-gradient(to bottom, #acb1b3 5%, #5c5c5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb1b3', endColorstr='#5c5c5c',GradientType=0);
	background-color:#acb1b3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4b636b;
}
.catagory-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c5c5c), color-stop(1, #acb1b3));
	background:-moz-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-webkit-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-o-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-ms-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:linear-gradient(to bottom, #5c5c5c 5%, #acb1b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#acb1b3',GradientType=0);
	background-color:#5c5c5c;
}
.catagory-btn:active {
	position:relative;
	top:1px;
}

}
