body{
  /*background: url("../Images/bkgndpic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  linear-gradient( black 0%,white 100%)
  background-image: opacity(0.5),filter: ,url("../Images/bkgndpic.jpg");
    background-blend-mode:screen;*/
}
.gift-result-item{
  -webkit-box-shadow: inset 7px -7px 120px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 7px -7px 120px 0px rgba(255,255,255,1);
  box-shadow: inset 7px -7px 120px 0px rgba(255,255,255,1);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 4px none #000000;
margin: 1vw;
}
 .gift-detailed-result-text {
   font-size: 2vw;
    color:black;
 }
h3{
  font-size: 1vw;
}
a {text-decoration: none}
.show-me-the-way{
  font-size: 1vw;
  font-weight: bold;
}
.catagory-btn-text{
  font-size: 1vw;
  font-weight: bold;
}
.category-icon{
  width: 12vw;
  height: 12vw;
}

.backarrow{
  width : 10vw;
  padding: 1vw 0 0.1vw 0;
}
label.custom-font{
   font-weight: bold;
   font-size: 1vw;
   font-family: sans-serif;
 }
.gift-sort{
  background-color:rgba(100,100,100,0.5);
  -webkit-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  border-radius: 10px;
}
.gift-text{
  margin-left: 3vw;
}
.gift-result-icon {
  width: 13vw;
  height: 13vw;
  margin: 0px 1vw;
}
.giftselectsorting {

}
.gift-detailed-result-icon {
  width: 25vw;
  height: 25vw;
}
.gift-map{
  width: 60vw;
}
div.gift-result {
  height: 33vw;
  min-width: 75%;
  max-width: 100%;
  overflow-y: auto;
  background-color:rgba(100,100,100,0.5);
  -webkit-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  border-radius: 10px;
}
div.gift-result-more-info {
  height: 34vw;
  min-width: 75%;
  max-width: 100%;
  overflow-y: auto;
  background-color:rgba(100,100,100,0.5);
  -webkit-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  box-shadow: 25px 25px 70px 0px rgba(0,0,0,0.6), inset -5px -3px 300px 0px rgba(0,0,0,0.36);
  border-radius: 10px;
}
.gift-img{
  width: 300px;
  height: 300px;
  margin: 0px 50px;
}
.bottom-line {
  border-bottom: thick dotted #000000;
}
.col-min {width:4;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float:left;
    padding: 0.4vw;
    border: 0.1vw hidden;
}

.slim-col-min {width:4;}
.slim-col-1 {width: 8.33%;}
.slim-col-2 {width: 16.66%;}
.slim-col-3 {width: 25%;}
.slim-col-4 {width: 33.33%;}
.slim-col-5 {width: 41.66%;}
.slim-col-6 {width: 50%;}
.slim-col-7 {width: 58.33%;}
.slim-col-8 {width: 66.66%;}
.slim-col-9 {width: 75%;}
.slim-col-10 {width: 83.33%;}
.slim-col-11 {width: 91.66%;}
.slim-col-12 {width: 100%;}
[class*="slim-col-"] {
    float:left;
    padding: 0.1vw;
    border: 0.1vw hidden;
}
body::after {
  content: "";
  background: url("../Images/bkgndpic.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}

button.stealth {
    padding: 0;
    border: none;
    background: none;
}
* {
    box-sizing: border-box;
}

h1 {
	color: #6B5344;
	font-weight: normal;
	position: relative;
  text-shadow:
    -0.1vw 0 rgb(200, 200, 200),
    0 0.2vw rgb(200, 200, 200),
    0.2vw 0 rgb(200, 200, 200),
    0 -0.2vw rgb(200, 200, 200);

	font-size: 4vw;
	font-family: 'Carrois Gothic', sans-serif;
}

 h2 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 30px;
	line-height: 40px;
}

.texttype-1 h3 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 40px;
}

.texttype-1 h4 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 18px;
	line-height: 20px;
}
.filter-table-text {
  border:0;
  color:rgb(0,0,0);
  font-weight:bold;
  width: 10vw;
}
input{
  font-size: 1vw;
}
.more-info-btn-text{
  font-size: 2vw;
}
.filter-table {
  filter:alpha(opacity=60);
  background: rgba(172,177,179,0.5);
  margin: 1em;
  padding: 0.1em;
  margin: 0.1em;
  background-color: rgba(92,92,92,0.6)
}
th, td {
    padding: 0.8vw;
    border-bottom: 0.05vw solid #ddd;
}

tr {
  width: inherit;
}
input.checkbox  {
	 width : 1.1vw ;
	 height : 1.1vw ;
	}
input[type="checkbox" i] {
    margin: 0.2vw 0.2vw 0.2vw 0.2vw;
}
.catagory-btn{
	box-shadow: 0px 0.5vw 1vw -0.4vw #152426;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #acb1b3), color-stop(1, #5c5c5c));
	background:-moz-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-webkit-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-o-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:-ms-linear-gradient(top, #acb1b3 5%, #5c5c5c 100%);
	background:linear-gradient(to bottom, #acb1b3 5%, #5c5c5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb1b3', endColorstr='#5c5c5c',GradientType=0);
	background-color:#acb1b3;
	-moz-border-radius:0.5vw;
	-webkit-border-radius:0.5vw;
	border-radius:0.5vw;
	display:inline-block;
	cursor:pointer;
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:1.3vw;
	font-weight:bold;
	padding:1vw 2vw;
	text-decoration:none;
	text-shadow:0px 0.1vw 0px #4b636b;
}
.catagory-btn1:hover {

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c5c5c), color-stop(1, #acb1b3));
	background:-moz-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-webkit-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-o-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:-ms-linear-gradient(top, #5c5c5c 5%, #acb1b3 100%);
	background:linear-gradient(to bottom, #5c5c5c 5%, #acb1b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#acb1b3',GradientType=0);
	background-color:#5c5c5c;
}
.catagory-btn:active {
	position:relative;
	top:1px;
}

.more-info{
  vertical-align: middle;
}
::-webkit-scrollbar {
  width: 1.5vw;
  height: 1.5vw;
}
::-webkit-scrollbar-button {
  width: 0.8vw;
  height: 0.8vw;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px solid #ffffff;
  border-radius: 4vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 8vw; none #ffffff;
  border-radius: 7vw;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.select_style {
    background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
    font-family: "helvetica neue",arial;
    position: relative;
    cursor: pointer;
    padding-right:20px;
}
.select_style span {
    position: absolute;
    right: 0.8vw;
    width: 2vw;
    height: 0.2vw;
    top: 50%;
    margin-top: -0.2vw;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    padding:.5vw 1vw;

}
